#calificacion {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
}

#calificacion h2 {
    color: #000;
    font-size: 2em;
    margin-bottom: 20px;
}

#calificacion form {
    max-width: 600px;
    margin: 0 auto;
}

#calificacion label {
    display: block;
    margin-bottom: 10px;
}

#calificacion input[type="text"],
#calificacion input[type="email"],
#calificacion select,
#calificacion textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#calificacion textarea {
    resize: vertical;
}

#calificacion button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#calificacion button[type="submit"]:hover {
    background-color: #0056b3;
}

#navbar {
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    float: left;
}

#navbar li a {
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    color: #fff;
    transition: background-color 0.3s;
}

#navbar li a:hover {
    background-color: rgb(225, 207, 10);
    color: #000;
}

.myicon {
    color: #fff;
    font-size: 1.5em;
    padding: 10px;
    display: none;
}
